$html-fontsize: 11pt;

$bg-primary: #fff;
$bg-bar: #aaaaaa;

$color-white: #fff;
$color-body: #000;
$color-primary: #26798E;
$color-primary-hover: #2f8da5;
$color-secondary: #ffb902;

$input-color-active: #a3a3a3;
$input-height: 48px;
$input-height-focus: 58px;
$input-font-size: 1rem;

$checkbox-size: 20px;