@use '../base/vars' as v;

.auth {
    display: flex;
    background: v.$bg-primary;
    background-image: url('../../images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .info {
        position: relative;
        background: rgba(v.$color-primary, 0.75);
        width: 50%;
        height: 100vh;        
        
        .edge {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0;
            right: 0;
        }
            
        .container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            .slogan {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 40px;
                box-sizing: border-box;

                .title {
                    max-width: 500px;
                    font-size: 4rem;
                    font-weight: 700;
                    color: v.$color-white;
                }
                
                .text {
                    font-size: 1.8rem;
                    font-weight: 600;
                    text-align: center;
                    color: v.$color-white;
                }
            }
        }             
    }

    .content {
        position: relative;
        width: 50%;
        height: 100vh;

        .edge {
            position: absolute;
            width: 50px;
            height: 50px;
            bottom: 0;
            left: 0;
            transform: rotate(180deg);

            svg {
                path {
                  fill:  rgba(v.$color-primary, 0.75);;
                }
            }
              
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            background: v.$bg-primary;
            width: 100%;
            height: 100%;
            border-bottom-left-radius: 47px;

            .view {
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding: 40px;
                width: 100%;
                max-width: 600px;
                box-sizing: border-box;
                
                .logo {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-bottom: 20px;
                }

                .remember-forgot {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 20px 0 20px 0;
                    font-size: v.$input-font-size + 0.1rem;
                    font-weight: 600;

                    label {
                        font-size: v.$input-font-size + 0.1rem;
                    }

                    .a-forgot {
                        a {
                            color: black;
                            text-decoration: none;

                            &:hover {
                                color: v.$color-primary;
                                border-bottom: 1px solid v.$color-primary;
                            }
                        }
                    }                    
                }

                .info-auth {
                    display: flex;
                    justify-content: center;
                    font-size: v.$input-font-size + 0.1rem;
                    margin: 70px 0 0 0;
                    width: 100%;
                    height: 1.6rem;

                    a {
                        color: black;
                        font-weight: 600;
                        text-decoration: none;

                        &:hover {
                            color: v.$color-primary;
                            border-bottom: 1px solid v.$color-primary;
                        }
                    }
                }
            }
        }
    }
}